body {
	margin: 0;
    padding-left: 2px;
	font-family: Arial, sans-serif;
    background-color: rgba(79, 73, 73, 0.7);
    color: azure;
}

h1{
    background-origin: padding-box;
    color: yellow;
}

header {
	background-color: #da2828ad;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ticket{
    position:fixed;
    top: 120px;
    z-index: 1;
    text-decoration: none;
    border: solid;
    padding: 10px;
            margin-top: 20px;
            border-radius: 10px;
            background-color: rgb(67, 202, 240);
            color: rgba(10, 2, 2, 0.955);
}
#scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    text-decoration: none;
    padding:5px ;
    right: 20px;
    justify-content: right;
    /*display: none;*/
  }
  
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #000;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.main {
	max-width: 1000px;
	margin: 0 auto;
}

.hero-image {
	background-image: url('');
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	justify-content: center;
	align-items: center;
}
img{
    height: 500px;
    width:100%;
    position: relative;
}
.about, .visit, .gallery {
	padding: 20px;
}

.about h3, .visit h3, .gallery h3 {
	margin:2px;
}
.im1
{
    text-align: right;
    width: 33%;
}
.im2{
    text-align: left;
    width: 33%;
}
.im3
{
    text-align: center;
    width: 33%;
}
